header {
    text-align: center;
    background-color: gray;
    height: 100px;
    padding: 6px;
    color: white;

    
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table {
    background-color: gray;
    width: 100%;
    border: 10px;
}

th {

}